
<h2><%= link_to word.name, word %></h2>
<%= simple_format(truncate(word.description, :length => 200, :omission => ("... " + link_to("læs mere", word)))) %>
<%= link_to 'Edit', edit_word_path(word) if user_signed_in? && current_user.admin?  %></td>
<%= link_to 'Destroy', word, :confirm => 'Are you sure?', :method => :delete if user_signed_in? && current_user.admin? %></td>
